// Brakepoints
$mobileSmallScreen: 480px !default;
$mobileMediumScreen: 680px !default;
$mobileLargeScreen: 768px !default;

$desktopSmallScreen: 1024px !default;
$desktopMediumScreen: 1366px !default;
$desktopLargeScreen: 1600px !default;
