// Brand colors
$brand-primary:             #297fd2 !default;
$brand-secondary:           #252324 !default;
$brand-tertiary:            #343233 !default;
$brand-content:             #ffffff !default;

$link-color:                #297fd2 !default;
$link-hover-color:          #ffffff !default;

$link-color-inverse:        #ffffff !default;
$link-hover-color-inverse:  #252324 !default;

$dropdown-link-hover-bg: $brand-primary !default;
$select-dropdown-highlighted-item-bg: $brand-primary !default;

$brand-success:             #1abc9c !default;
$brand-warning:             #f1c40f !default;
$brand-danger:              #e74c3c !default;
$brand-info:                #3498db !default;
