// Brand colors
$brand-primary:             #297fd2;
$brand-secondary:           #252324;
$brand-tertiary:            #343233;
$brand-content:             #ffffff;

$link-color:                #297fd2;
$link-hover-color:          #ffffff;

$link-color-inverse:        #ffffff;
$link-hover-color-inverse:  #252324;

$brand-success:             #1abc9c;
$brand-warning:             #f1c40f;
$brand-danger:              #e74c3c;
$brand-info:                #3498db;
