{% extends "TheCodeineAdminBundle::layout_base.html.twig" %}

{% block navigation %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                {% include 'TheCodeineAdminBundle::_partials/menu.top.html.twig' %}
            </div>
        </div>
        <a href="{{ path('fos_user_security_logout') }}" class="btn-logout btn btn-default mlm navbar-right">
            <i class="glyphicon glyphicon-log-out"></i>
        </a>
    </div>
    {% include 'TheCodeineAdminBundle::_partials/menu.sub.html.twig' %}
{% endblock navigation %}