services:
    tuna.menu.twig:
        class: TheCodeine\MenuBundle\Twig\MenuExtension
        calls:
            - [initRuntime, ['@twig']]
        arguments: ['@twig', "@doctrine.orm.default_entity_manager", "@router", "%the_codeine_admin.components.menu.default_template%"]
        tags:
            - { name: twig.extension }

    tuna.menu.listener.page:
        class: TheCodeine\MenuBundle\EventListener\PageSubscriber
        tags:
            - { name: doctrine.event_subscriber }
