{% block editor_widget %}
    <div class="form-group">
        <textarea {{ block('widget_attributes') }} placeholder="{{ name | capitalize | trans }}" class="form-control thecodeine_admin_editor" rows="10">{% if value is not empty %}{{ value|raw }}{% endif %}</textarea>
    </div>
{% endblock %}
