vendor/
Behat/Fixtures/app/cache/
Behat/Fixtures/app/logs/
Behat/Fixtures/web/files/
Behat/Fixtures/web/uploads/
Behat/Fixtures/web/media/
!Resources/public/css/vendor/
!Resources/public/js/vendor/

Behat/Fixtures/app/test.db
nohup.out

.idea
.DS_Store
