.actions {
    margin: 0 0 20px 0;
    float: right;
    @extend .clearfix;

    li {
        display: inline-block;
        list-style: none;

        &.active {
            background: transparent;
        }
    }
}

.action-buttons {
    min-height: 40px;
    margin: 0 0 20px;
    float: right;

    a {
        transition: all ease-out .3s;

        &.inactive {
            opacity: .2;
            cursor: default;
            pointer-events: none;
        }
    }
}
