.change-password {
    &__form {
        input[type="password"] {
            @extend .form-control;
            display: block;
            width: 100%;
        }
    }

    .form-errors-container {
        font-size: 15px;
    }
}