.checkbox,
.radio {
    color: lighten($brand-tertiary, 40%);

    input[type="checkbox"].custom-checkbox,
    input[type="radio"].custom-radio {

        &:checked + .icons {
            .icon-checked {
                color: $brand-content;
            }
        }
    }
}
