.note-editable.panel-body, .panel-default > .panel-heading .dropdown-menu {
    h2, h3, h4, h5 {
         font-weight: 600;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 18px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #000000;
    }

    b, strong{
        font-weight: 700;
    }

    i {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    blockquote {
        border-left: 0;
        padding-left: 0;
        font-size: 15px;
        font-style: italic;
        line-height: 19px;

        &:before {
            display: none;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {

        }
    }

    a {
        color: #000000;
        text-decoration: none;
    }
}

.note-editable.panel-body {
    blockquote {
        padding-left: 100px;
    }

    blockquote, p {
        margin-bottom: 35px;
    }

    h1, h2 {
        margin-bottom: 45px;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $brand-primary;
        }
    }
}
