.note-editor.note-frame, .form-control, textarea {
    color: $brand-secondary;
    border-radius: 0;
    border: 2px solid lighten($brand-tertiary, 25%);

    &:focus {
        border-color: $brand-primary !important;
    }
}

.cke {
    .cke_panel_listItem.cke_selected a,
    .cke_panel_listItem a:hover,
    .cke_panel_listItem a:focus,
    .cke_panel_listItem a:active,
    a.cke_button_on,
    a.cke_button_on:hover,
    a.cke_button_on:focus,
    a.cke_button_on:active,
    a.cke_button_off:hover,
    a.cke_button_off:focus,
    a.cke_button_off:active,
    a.cke_button_disabled:hover,
    a.cke_button_disabled:focus,
    a.cke_button_disabled:active,
    .cke_combo_off a.cke_combo_button:hover,
    .cke_combo_off a.cke_combo_button:focus,
    .cke_combo_off a.cke_combo_button:active,
    .cke_combo_on a.cke_combo_button,
    .cke_combo_on a.cke_combo_button:hover,
    .cke_combo_on a.cke_combo_button:focus,
    .cke_combo_on a.cke_combo_button:active {
        background: #000000;
        color: $link-color-inverse;
    }
}

.cke_dialog {
    a.cke_dialog_ui_button_ok {
        background: $brand-primary;
        color: $link-color-inverse;
    }
}