.note-editable.panel-body, .panel-default > .panel-heading .dropdown-menu {
    @import "typography";
}

.panel-default > .panel-heading .dropdown-menu {
    a {
        color: #000000;
        font-size: 18px;
        margin-bottom: 0;
        text-decoration: none;

        &:hover {
            color: #ffffff !important;
        }

        * {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}