.header {
    background: $colorDark;
    padding: 0 20px;
    height: 50px;
    max-height: 50px;

    .navbar-top-left {
        float: left;
        display: block;

        @media all and (min-width: $desktopSmallScreen) {
            display: none;
        }

        ul li {
            display: inline-block;
            margin-left: 20px;

            a {
                padding: 10px 0;
                color: $colorGray;
                font-size: 18px;

                &:hover, &:focus {
                    background: transparent;
                    color: $colorWhite;
                }
            }
        }
    }

    .navbar-top-right {
        float: right;

        .dropdown-menu {
            z-index: 100000;
        }

        button {
            background-color: transparent;
            color: $colorGray;
            padding-top: 14px;

            &.active {
                background: transparent!important;
                color: $colorWhite;
            }
        }
    }
}

