.header {
    background: $brand-secondary-darker;
    padding: 5px 0 5px 20px;
    height: $headerHeight;

    .navbar-top-left {
        float: left;
    }

    .navbar-top-right {
        float: right;

        .dropdown-arrow {
            border-color: transparent transparent $brand-primary transparent;
        }

        .dropdown-menu {
            z-index: 100000;
            background: $brand-primary;
            border-radius: 0;
            width: 250px;
            right: 0;

            li > a {
                color: $link-hover-color;
                font-size: 16px;
                padding: 20px;

                &:hover, &:active, &:focus {
                    background: $brand-primary;
                    color: $brand-tertiary;
                }
            }
        }

        button {
            background-color: transparent;
            color: lighten($brand-tertiary, 25%);
            padding-top: 14px;

            &.active, &:hover {
                background: transparent !important;
                color: $link-hover-color;
            }
        }
    }
}

