.admin-option-container .thecodeine_admin_main_image {
    .preview > div {
        border: 2px solid $brand-primary;
        height: 197px;

        img {
            max-width: 100%;
        }

        .remove {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all ease-out .3s;
            padding: 9px 12px 10px;
            background: $brand-primary;
            color: #fff;
        }

        &:hover {
            img {
                opacity: .5;
            }

            .remove {
                opacity: 1;
            }
        }
    }
}
