.thecodeine_admin_main_image {
    .main-image {
        .remove {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all ease-out .3s;
            padding: 9px 12px 10px;
            background: $brand-primary;
            color: #fff;
        }

        .image {
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                transition: all ease-out .3s;
                border: 2px solid $brand-primary;
            }

            &:hover {
                img {
                    opacity: .5;
                }

                .remove {
                    opacity: 1;
                }
            }
        }
    }
}
