.admin-option-container .tuna_cms_admin_main_image {
    .preview {
        position: relative;

        img {
            width: auto;
            height: auto;
            display: block;
            max-width: 100%;
            border: 2px solid $brand-primary;
        }

        .remove {
            position: absolute;
            cursor: pointer;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all ease-out .3s;
            padding: 9px 12px 10px;
            background: $brand-primary;
            color: #fff;
        }

        &:hover {
            img {
                opacity: .5;
            }

            .remove {
                opacity: 1;
            }
        }
    }
}
