.aside-2 {
    display: none;

    @media all and (min-width: $mobileLargeScreen) {
        display: block;
        max-width: 250px;
    }

    @media all and (min-width: $desktopSmallScreen) {
        max-width: 300px;
    }

    .admin-option-container {
        padding: 20px;
        background: $brand-tertiary;
        overflow-y: scroll;
        @include calc(height, '100% - 50px');
        z-index: 100;
        position: relative;

        h6 {
            margin-bottom: 20px;
        }

        .datepicker-group {
            position: relative;

            .input-group {
                width: 100%;

                input {
                    padding-left: 45px;
                }

                button {
                    position: absolute;
                    top: 5px;
                    left: 2px;
                }
            }
        }

        .btn-gallery {
            margin-top: 20px;
        }

        .btn-attachments {
            margin-bottom: 20px;
        }
    }
}
