.aside-2 {
    display: none;

    @media all and (min-width: $mobileLargeScreen) {
        display: block;
        max-width: $sidebarOptionsWidth;
    }

    .admin-option-container {
        padding: 20px;
        background: $brand-tertiary;
        overflow-y: scroll;
        @include calc(height, '100vh - ' $headerHeight);
        z-index: 100;
        position: relative;

        h6 {
            margin-bottom: 20px;
        }

        .datepicker-group {
            position: relative;

            .input-group {
                width: 100%;

                input {
                    padding-left: 45px;
                }

                button {
                    position: absolute;
                    top: 5px;
                    left: 2px;
                    background: $link-color-inverse;
                    color: $brand-secondary;
                }
            }
        }

        label {
            color: $link-color-inverse;
        }

        .dialog-danger {
            font-size: 12px;
            color: $link-color-inverse;
        }

        .btn-gallery {
            margin-top: 20px;
        }

        .btn-attachments {
            margin-bottom: 20px;
        }
    }
}
