.aside-1 {
    padding: 0;
    background: $brand-secondary;
    height: 100%;
    display: none;

    @media all and (min-width: $desktopSmallScreen) {
        display: block;
        max-width: $sidebarNavWidth;
    }

    .nav {
        li {
            padding: 0 20px;

            &.active {
                background: $brand-tertiary;

                a {
                    color: $link-hover-color;
                }
            }

            a {
                padding: 20px 0;
                color: lighten($brand-tertiary, 25%);
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;

                &:hover, &:focus {
                    background: transparent;
                    color: $link-hover-color;
                }
            }
        }
    }
}
