.aside-1 {
    padding: 0;
    background: $brand-secondary;
    height: 100%;
    display: none;
    z-index: 11;

    @media all and (min-width: $desktopSmallScreen) {
        display: block;
        width: $sidebarNavWidth;
    }

    .nav {
        li {

            a {
                padding: 20px;
                color: lighten($brand-tertiary, 25%);
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;

                &:hover, &:focus {
                    background: transparent;
                    color: $link-hover-color;
                }
            }

            &.active {
                > a {
                    background: $brand-tertiary;
                    color: $brand-primary;
                }
            }

            ul {
                padding: 0;

                li a {
                    display: block;
                    padding-left: 40px;
                }
            }
        }
    }
}
