.aside-1 {
    padding: $default_element_margin 0;
    background: $colorDark;
    height: 100%;
    display: none;

    @media all and (min-width: $desktopSmallScreen) {
        display: block;
        max-width: 250px;
    }

    .actions {
        margin-bottom: $default_element_margin;

        ul {
            li {
                display: inline-block;
                list-style: none;

                &:first-child {
                    display: none;
                }

                &.active {
                    background: transparent;
                }

                a {
                    background: $colorExtra;
                    color: $colorWhite;
                    border-radius: 30px;
                    padding: 8px $default_element_margin;
                    font-size: 12px;

                    &:hover, &:focus {
                        background: $colorWhite;
                        color: $colorExtra;
                    }
                }
            }
        }
    }

    .nav {
        li {
            padding: 0 $default_element_margin;

            &.active {
                background: $colorLightDark;

                a {
                    color: $colorWhite;
                }
            }

            a {
                padding: $default_element_margin 0;
                color: $colorGray;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;

                &:hover, &:focus {
                    background: transparent;
                    color: $colorWhite;
                }
            }
        }
    }
}
