.pagination {
    background: transparent;

    > .disabled {
        > a {
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

table.table-bordered,
table.table-striped {
    border: 0;

    > tbody, > thead {
        > tr {
            > td, th {
                border: 0;
            }

            &:nth-child(odd) {
                > td, th {
                    background-color: transparent;
                }
            }
        }
    }
}

.table, .table-bordered, .table-striped {
    border-collapse: initial;

    > tbody, > thead {
        > tr {

            &.unpublished {
                opacity: .5;
            }

            &:hover {
                opacity: 1;

                > td {
                    background: $brand-secondary;
                    color: $link-hover-color;
                }
            }

            td, th {
                color: lighten($brand-tertiary, 40%);
                border-top: 0;
                border-bottom: 1px solid lighten($brand-tertiary, 25%);

                a {
                    color: $link-hover-color;

                    &:hover {
                        color: $brand-primary;
                    }
                }
            }

            th, th a {
                font-weight: 400;
                font-size: 12px;
                opacity: .6;
            }

            td {
                font-size: 15px;

                &.options {
                    text-align: right;
                    min-width: 120px;

                    a {
                        margin-left: 10px;
                    }
                }
            }
        }

        .center {
            text-align: center;
        }
    }
}
