.table > tbody, .table > thead  {

    > tr {

        &.unpublished {
            opacity: .5;
        }

        &:hover {
            opacity: 1;

            > td {
                background: $colorDark;
                color: $colorWhite;
            }
        }

        td, th {
            color: $colorGray;
            border-top: 0;
            border-bottom: 1px solid $colorLightGray;

            a {
                color: $colorWhite;

                &:hover {
                    color: $colorExtra;
                }
            }
        }

        th {
            font-weight: 400;
            font-size: 12px;
            opacity: .6;

            a {
                color: $colorGray;
            }
        }

        td {
            font-size: 16px;

            &.options {
                text-align: right;
                min-width: 120px;

                a {
                    margin-left: $default_element_margin/2;
                }
            }
        }
    }

    .center {
        text-align: center;
    }
}

