.bootstrap-tagsinput {
    border-radius: 0;
    border: 2px solid lighten($brand-tertiary, 25%);

    .tag, .tag:hover {
        border-radius: 0;
        background: $brand-primary;
        color: $brand-content;
    }

    .tagsinput-add {
        border-radius: 0;
        background: $brand-primary;

        &:hover {
            background: $brand-primary;
        }
    }
}
