/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px;}
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.ui-datepicker:before {
    border-color: transparent transparent $brand-primary;
}

.ui-timepicker-div, .ui-datepicker table {
    font-size: 14px;
}

.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-state-active,
.ui-slider-handle {
    background: $brand-primary;
}

.ui-datepicker,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    border-color: $brand-primary;
}

.form-control.datepicker {
    height: 40px;
    font-size: 14px;
}

.form-group.focus .input-group-btn .btn-default, .navbar-search.focus .input-group-btn .btn-default {
    border-color: $brand-primary !important;
    color: $brand-primary !important;
}
.ui-datepicker {
    width: 260px!important;
    a:hover, a:focus {
        color: $brand-primary;
    }
}

.input-group-btn .btn {
    border-color: lighten($brand-tertiary, 25%);
    line-height: 16px;
}

.ui-datepicker td span, .ui-datepicker td a {
    min-width: 33px;
}

.ui-slider-handle:hover, .ui-slider-handle:focus, .ui-datepicker-buttonpane button {
    background-color:  $brand-primary;
}

.ui-datepicker-buttonpane {
    overflow: hidden;

    button  {
        border: 0;
        font-size: 14px;
        background-color: lighten($brand-tertiary, 25%);
        color: $link-hover-color;

        &:hover, &:focus {
            background-color: $brand-secondary;
            color: $link-hover-color;
        }
    }
}

#ui-datepicker-div {
    margin-left: 0px!important;
    margin-top: 0px!important;
    top: 0!important;
    left: 0!important;
    position: relative!important;
}
