.translation-table {
    width: 100%;

    td, th {
        width: 50%;
        position: relative;
        padding: 10px 20px;
    }

    td:first-child {
        padding: 40px 20px;
    }

    tr {
        border-bottom: 1px solid lighten($brand-tertiary, 25%);
    }

    h6 {
        font-size: 18px;
    }

    textarea {
        height: 70%;
        min-height: 80px;
    }

    .alert-message {
        position: absolute;
        top: 10px;
        left: 20px;

        &.success {
            background-color: $brand-success;
        }

        &.error {
            background-color: $brand-danger;
        }
    }
}