{% trans_default_domain 'tuna_admin' %}
{% extends 'TunaCMSAdminBundle::layout.html.twig' %}

{% block content %}
    {% embed 'TunaCMSAdminBundle:_partials/form:edit.html.twig' %}
        {% import '@TunaCMSAdmin/_partials/form/translations_macro.html.twig' as a2lix %}

        {% block header_checkboxes %}
            {% include "@TunaCMSAdmin/node/partials/header_checkboxes.html.twig" %}
        {% endblock %}

        {% block options %}
            {% include "@TunaCMSAdmin/node/partials/options.html.twig" %}
        {% endblock %}

        {% block body %}
            <h3 class="title-link">
                <span class="title-link__title">{{ node.name|default }}</span>
                <span class="title-link__link">{{ (node.isExternalLink ? node.url : '/' ~ node.slug)|default }}</span>
            </h3>

            {% block body_content %}
                {{ block('node_content') }}
            {% endblock %}
        {% endblock %}
    {% endembed %}
{% endblock %}
