{% macro tuna_image_preview(fileUrl, deletable, scalePreviewThumbnail = true) %}{% spaceless %}
    {% if fileUrl %}
        {% if scalePreviewThumbnail %}
            {% set fileUrl = fileUrl|imagine_filter('tuna_admin_thumb') %}
        {% endif %}
        <img src="{{ fileUrl }}"/>
        {% if deletable %}
            <span data-action="remove" class="remove">{% trans %}Remove{% endtrans %}</span>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro tuna_file_preview(fileUrl) %}{% spaceless %}
    i'm a file preview
    {% if fileUrl is not null %}
        <a href="{{ asset(fileUrl) }}" class="btn btn-secondary" target="_blank">
            <span class="fui-eye"></span>
        </a>
    {% endif %}
{% endspaceless %}{% endmacro %}
