{% trans_default_domain 'tuna_admin' %}

{% macro tuna_image_preview(fileUrl, deletable, imageFilter = 'tuna_admin_thumb') %}{% spaceless %}
    {% if imageFilter is same as(true) %}
        {# TODO: BC for `scalePreviewThumbnail` replaced by `imageFilter` #}
        {% set imageFilter = 'tuna_admin_thumb' %}
    {% endif %}
    {% if fileUrl %}
        {% if imageFilter %}
            {% set fileUrl = fileUrl|imagine_filter(imageFilter) %}
        {% endif %}
        <img src="{{ fileUrl }}"/>
        {% if deletable %}
            <span data-action="remove" class="remove">{{ 'common.remove'|trans }}</span>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro tuna_file_preview(fileUrl) %}{% spaceless %}
    {% if fileUrl is not null %}
        <a href="{{ asset(fileUrl) }}" class="btn btn-secondary" target="_blank">
            <span class="fui-eye"></span>
        </a>
    {% endif %}
{% endspaceless %}{% endmacro %}
