{% set hasChildren = item.__children | length > 0 %}
<li class="{% if hasChildren %}dropdown{% endif %}">
    <a href="{{ item.externalUrl ?: item.slug }}">{{ item.label }}</a>
    {% if hasChildren | length > 0 %}
        <ul class="subnav">
            {% for child in item.__children %}
                {% include 'TheCodeineMenuBundle:Menu:render_menu_item.html.twig' with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
