{% set hasChildren = item.children | length > 0 %}
<li class="{% if hasChildren %}dropdown{% endif %}">
    {% if item.clickable %}
        <a href="{{ tuna_menu_getLink(item) }}">{{ item.label }}</a>
    {% else %}
        <span>{{ item.label }}</span>
    {% endif %}
    {% if hasChildren %}
        <ul class="subnav">
            {% for child in item.children %}
                {% include 'TheCodeineMenuBundle:Menu:render_menu_item.html.twig' with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
