{% set hasChildren = item.__children | length > 0 %}
<li class="{% if hasChildren %}dropdown{% endif %}">
    {% if item.__object.clickable %}
        <a href="{{ tuna_menu_getLink(item.__object) }}">{{ item.__object.label }}</a>
    {% else %}
        <span>{{ item.__object.label }}</span>
    {% endif %}
    {% if hasChildren %}
        <ul class="subnav">
            {% for child in item.__children %}
                {% include 'TheCodeineMenuBundle:Menu:render_menu_item.html.twig' with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
