{% trans_default_domain 'tuna_admin' %}

<div class="options">
    {{ 'ui.form.options'|trans }}
</div>

<div class="languages">
    {% block edit_header_languages %}
        {% include 'TunaCMSAdminBundle::_partials/form/translations.menu.html.twig' %}
    {% endblock %}
</div>

<div class="controls">
    <div class="checkboxes">
        {% block edit_header_checkboxes %}
            {% if form.published is defined %}
                {{ form_widget(form.published) }}
            {% endif %}

            {% if form.important is defined %}
                {{ form_widget(form.important) }}
            {% endif %}
        {% endblock %}
    </div>
    <div class="button">
        {% block edit_header_button %}
            <input type="submit" class="btn btn-tertiary btn-wide" value="{{ 'ui.form.labels.save'|trans }}">
        {% endblock %}
    </div>
</div>


