{% trans_default_domain 'tuna_admin' %}

<table class="table table-hover">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th class="text-right">{% trans %}Options{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td class="options">
                <a href="{{ path(editRoute|default('tuna_category_edit'), { id: entity.id }) }}" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                <a href="#" data-title="{{ entity.name }}" data-url="{{ path(deleteRoute|default('tuna_category_delete'), { id: entity.id }) }}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash" aria-hidden="true"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
