* {
    outline: none;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: $brand-font-family;
    font-weight: 400;
    color: $brand-tertiary;
    background: $brand-secondary;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media all and (min-width: $mobileLargeScreen) {
        overflow: hidden;
    }
}

.container {
    max-width: 100%!important;
    width: 100%!important;
    height: 100%;
    padding: 0;

    &.bg-lightgray {
        .content {
            padding: 20px;
            background: $brand-tertiary;

            @media all and (min-width: $desktopSmallScreen) {
                padding: 60px;
            }
        }
    }
}
.content {
    padding: 0;
    background: $brand-content;
    height: 100%;

    @media all and (min-width: $desktopSmallScreen) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .inside {
            height: 100%;
        }
    }
}

.admin-container {
    overflow: hidden;
    width: 100%;
    display: block;

    & > form {
        height: 100vh;

        .inside {
            overflow-x: hidden;
            overflow-y: auto;
            @include calc(height, '100% -' $headerHeight);

            .body {
                padding: 40px 60px 60px 60px;
            }
        }
    }
}

.aside {
    position: relative;
    z-index: 100;
    height: 100%;
    float: left;
}
