$default_element_margin: 20px;
$default_transition_time: 400ms;

// Colors
$colorBlack: #000000;
$colorDark: #252324;
$colorLightDark: #343233;
$colorGray: #9c9a9b;
$colorLightGray: #424041;
$colorWhite: #ffffff;
$colorLighten: #dddddd;
$colorExtra: #297fd2;
$colorLighten: #dddddd;

// Brakepoints

$mobileSmallScreen: 480px;
$mobileMediumScreen: 680px;
$mobileLargeScreen: 768px;

$desktopSmallScreen: 1024px;
$desktopMediumScreen: 1366px;
$desktopLargeScreen: 1600px;
