<ul>
    {% for item in gallery.items %}
        <li>
            {% if item.image %}
                <img src="{{ ('uploads/' ~ item.image.path) | imagine_filter('tuna_admin_thumb') }}" id="image-1"/>
            {% elseif item.video %}
                <iframe width="640" height="320" src="{{ video_url(item.video.type, item.video.videoId) }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endif %}
        </li>
    {% endfor %}
</ul>
