* {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    color: #252324;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin-bottom: 45px;
}

h1 {
    font-size: 18px;
    line-height: 24px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 18px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000000;
}

b, strong{
    font-weight: 700;
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

blockquote, p {
    margin-bottom: 35px;
}

blockquote, p.blockquote {
    border-left: 0;
    font-size: 15px;
    font-style: italic;
    line-height: 19px;
    padding: 0 50px;

    &:before {
        display: none;
    }
}

ul {
    margin: 30px 0;
    padding: 0 50px;
    list-style: none;

    li {
        font-size: 18px;
        position: relative;
        padding-left: 28px;

        &:before {
            box-sizing: content-box;
            display: block;
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            border: 2px solid #000000;
            background-color: #ffffff;
            top: 10px;
            left: 0;
        }
    }
}

a {
    color: #000000;
    text-decoration: underline;

    &:hover {
        color: inherit;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::selection {
        background: transparent;
    }

    &::-moz-selection {
        background: transparent;
    }

    &[style*="float: left"] {
        margin-right: 20px;
    }

    &[style*="float: right"] {
        margin-left: 20px;
    }

    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
}