{% block tuna_file_widget %}
    {% import 'TheCodeineAdminBundle:_partials/_form:_theme.html.twig' as theme %}
    {% set wrapperId = form.vars.id ~ '_wrapper' %}
    {% set dropzoneOptions = {
    selector: '#' ~ wrapperId,
    previewTemplate: theme.tuna_file_preview('/uploads/tmp/__path__'),
    previewSelector: '#' ~ wrapperId ~ ' .preview'
    } %}
    <div id="{{ wrapperId }}" class="thecodeine_admin_file" data-dropzone-options="{{ dropzoneOptions | json_encode }}">
        {% set file = form.vars.data %}
        <div class="preview">
            {% if file and file.path and form.vars.valid %}
                {% set fileUrl = (file.uploaded  ? '/uploads/tmp/' : '/uploads/files/') ~ file.path %}
                {{ theme.tuna_file_preview(fileUrl) | raw }}
            {% endif %}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}
