{% block tuna_image_widget %}
    {% import 'TheCodeineAdminBundle:_partials/_form:_theme.html.twig' as theme %}
    {% set wrapperId = form.vars.id ~ '_wrapper' %}
    {% set dropzoneOptions = {
    clickable: '.admin-option-container .btn-main-image',
    selector: '.admin-option-container',
    previewTemplate: theme.tuna_image_preview('/uploads/tmp/__path__', form.vars.attr.deletable),
    previewsContainer: '#' ~ wrapperId ~ ' .preview',
    dropoverText: 'Drop your cover image here' | trans
    } %}
    <div id="{{ wrapperId }}" class="thecodeine_admin_main_image" data-dropzone-options="{{ dropzoneOptions | json_encode }}">
        {% set image = form.vars.data %}

        <div class="preview">
            {% if image and image.path and form.vars.valid %}
                {% set fileUrl = (image.uploaded ? '/uploads/tmp/' : '/uploads/files/') ~ image.path %}
                {{ theme.tuna_image_preview(fileUrl, form.vars.attr.deletable) | raw }}
            {% endif %}
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock %}
