{% block tuna_image_row %}
    {% set image = form.parent.vars.value.image %}
    <div class="form-group main-image">
        <div class="image" data-action="remove">
            <div class="preview">
                {% if image and image.path %}
                    <div>
                        <img src="{{ ('/uploads/files/' ~ image.path) | imagine_filter('tuna_admin_thumb') }}"/>
                        <span class="remove">{% trans %}Usuń{% endtrans %}</span>
                    </div>
                {% endif %}
            </div>
            {{ form_row(form) }}
        </div>

        <div
            class="btn btn-mini btn-primary btn-block input-wrapper"
            data-dropzone-options='{"clickable": ".main-image .btn", "previewsContainer": ".main-image .image",  "maxFiles": 1, "callback": "tuna.view.MainImageView.uploadCallback", "selector": ".admin-option-container", "dropoverText": "{% trans %}Drop your cover image here{% endtrans %}"}'
        >
            {% trans %}Choose main picture{% endtrans %}
            <i class="fui-arrow-right pull-right"></i>
        </div>
    </div>
{% endblock %}