{% trans_default_domain 'tuna_admin' %}

{% block tuna_tag_widget %}
    <div class="form-group">
        <input
            type="text"
            {% if value is not empty %}value="{{ value }}"{% endif %}
            {{ block('widget_attributes') }}
            data-role="tagsinput"
            class="form-control input-sm tagsinput tagsinput-primary"
        >
    </div>
{% endblock %}