{% trans_default_domain 'tuna_admin' %}
{% block text_widget %}
    {% set attr = attr | merge({class: (attr.class | default('') ~ ' form-control input-lg') | trim}) %}
    {% if value is not empty %}
        {% set attr = attr | merge({value: value}) %}
    {% endif %}
    <div class="form-group form--{{ name }}">
        <input type='{{ type|default('text') }}' {{ block('widget_attributes') }} placeholder="{{ name | humanize | capitalize | trans }}">
    </div>
{% endblock %}
