.note-editable.panel-body h1,
.note-editable.panel-body h2,
.note-editable.panel-body h3,
.note-editable.panel-body h4,
.note-editable.panel-body h5,
.panel-default > .panel-heading .dropdown-menu h1,
.panel-default > .panel-heading .select2-drop h1,
.panel-default > .panel-heading .dropdown-menu h2,
.panel-default > .panel-heading .select2-drop h2,
.panel-default > .panel-heading .dropdown-menu h3,
.panel-default > .panel-heading .select2-drop h3,
.panel-default > .panel-heading .dropdown-menu h4,
.panel-default > .panel-heading .select2-drop h4,
.panel-default > .panel-heading .dropdown-menu h5,
.panel-default > .panel-heading .select2-drop h5 {
    font-weight: 600;
}

.note-editable.panel-body h1,
.panel-default > .panel-heading .dropdown-menu h1,
.panel-default > .panel-heading .select2-drop h1 {
    font-size: 18px;
    line-height: 24px;
}

.note-editable.panel-body h2,
.panel-default > .panel-heading .dropdown-menu h2,
.panel-default > .panel-heading .select2-drop h2 {
    font-size: 15px;
}

.note-editable.panel-body h3,
.panel-default > .panel-heading .dropdown-menu h3,
.panel-default > .panel-heading .select2-drop h3 {
    font-size: 18px;
}

.note-editable.panel-body h4,
.panel-default > .panel-heading .dropdown-menu h4,
.panel-default > .panel-heading .select2-drop h4 {
    font-size: 16px;
}

.note-editable.panel-body h5,
.panel-default > .panel-heading .dropdown-menu h5,
.panel-default > .panel-heading .select2-drop h5 {
    font-size: 14px;
}

.note-editable.panel-body p,
.panel-default > .panel-heading .dropdown-menu p,
.panel-default > .panel-heading .select2-drop p {
    font-size: 18px;
}

.note-editable.panel-body hr,
.panel-default > .panel-heading .dropdown-menu hr,
.panel-default > .panel-heading .select2-drop hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000000;
}

.note-editable.panel-body b,
.note-editable.panel-body strong,
.panel-default > .panel-heading .dropdown-menu b,
.panel-default > .panel-heading .select2-drop b,
.panel-default > .panel-heading .dropdown-menu strong,
.panel-default > .panel-heading .select2-drop strong {
    font-weight: 700;
}

.note-editable.panel-body i,
.panel-default > .panel-heading .dropdown-menu i,
.panel-default > .panel-heading .select2-drop i {
    font-style: italic;
}

.note-editable.panel-body u,
.panel-default > .panel-heading .dropdown-menu u,
.panel-default > .panel-heading .select2-drop u {
    text-decoration: underline;
}

.note-editable.panel-body blockquote,
.panel-default > .panel-heading .dropdown-menu blockquote,
.panel-default > .panel-heading .select2-drop blockquote {
    border-left: 0;
    padding-left: 0;
    font-size: 15px;
    font-style: italic;
    line-height: 19px;
}

.note-editable.panel-body blockquote:before,
.panel-default > .panel-heading .dropdown-menu blockquote:before,
.panel-default > .panel-heading .select2-drop blockquote:before {
    display: none;
}

.note-editable.panel-body ul,
.panel-default > .panel-heading .dropdown-menu ul,
.panel-default > .panel-heading .select2-drop ul {
    margin: 0;
    padding: 0;
}

.note-editable.panel-body a,
.panel-default > .panel-heading .dropdown-menu a,
.panel-default > .panel-heading .select2-drop a {
    color: #000000;
    text-decoration: none;
}

.note-editable.panel-body {
    font-family: "Source Sans Pro";
}

.note-editable.panel-body blockquote {
    padding: 0 50px;
}

.note-editable.panel-body blockquote,
.note-editable.panel-body p {
    margin-bottom: 35px;
}

.note-editable.panel-body h1,
.note-editable.panel-body h2 {
    margin-bottom: 45px;
}

.note-editable.panel-body a {
    text-decoration: underline;
}

.note-editable.panel-body a:hover {
    color: #297fd2;
}

.note-editable.panel-body ul {
    margin: 30px 0;
    padding: 0 50px;
    list-style: none;
}

.note-editable.panel-body ul li {
    font-size: 18px;
    position: relative;
    padding-left: 28px;
}

.note-editable.panel-body ul li:before {
    box-sizing: content-box;
    display: block;
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    border: 2px solid #000000;
    background-color: #ffffff;
    top: 10px;
    left: 0;
}