{% set hasChildren = item.children | length > 0 %}
<li class="menu__item{% if hasChildren %} menu__item--dropdown{% endif %}">
    {% if item.clickable %}
        <a href="{{ tuna_menu_getLink(item) }}" class="menu__link">{{ item.label|raw }}</a>
    {% else %}
        <span class="menu__text">{{ item.label|raw }}</span>
    {% endif %}
    {% if item.displayingChildren and hasChildren %}
        <ul class="menu__subnav">
            {% for child in item.children %}
                {% include '@TunaCMSAdmin/menu/menu_item.html.twig' with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
