.admin-attachments-container, .admin-gallery-container {
    .calc-width("100% - 550px");
    display: none;
    position: fixed;
    z-index: -1;
    left: 550px;
    padding: @default_element_margin;
    top: 50px;
    height: 100%;
    background: @clouds;
    overflow-y: auto;

    h6 {
        margin-bottom: @default_element_margin;
    }
    .close {
        position: absolute;
        right: @default_element_margin;
        top: @default_element_margin;
        opacity: 1;
    }
}

//GALLERY
@gallery-item-height: 190px;
@gallery-item-width: 100%;

ul.gallery-items {
    padding-left: 0;
    margin-top: @default_element_margin;
    li.sortable-placeholder {
        display: inline-block;
        margin-bottom: @default_element_margin;
    }
    li {
        display: inline-block;
        margin-right: 18px;
        position: relative;
        width: @gallery-item-width;
        min-height: 50px;
        max-height: @gallery-item-height;
        border: 1px solid @inverse;
        float: left;

        > div {
            width: 260px;
            float: left;
        }

        .select {
            margin-bottom: 0;
        }

        img {
            .filter("grayscale(100%)");
            top: 0px;
            left: 0px;
            margin-left: 0;
            float: left;
            transition: @default_transition_time;
            &:hover {
                .filter("none");
            }
        }

        input[type="file"] {
            height: @gallery-item-height - 8;
            width: @gallery-item-width - 8;
            opacity: 0;
            top: 0px;
            left: 0px;
            z-index: 10;
            cursor: pointer;
        }

        input[type="url"] {
            position: absolute;
            width: 260px;
        }

        .fui-plus {
            font-size: 44px;
            position: absolute;
            top: 50%;
            left: 130px;
            margin-top: -34px;
            margin-left: -20px;
            z-index: 1;
            pointer-events: none;
        }

        .item-name {
            top: 180px;
            width: ~"calc(100% - 264px)";
            height: 190px;
            float: left;
            margin-left: 4px;

            .tabbable {
                width: 100%;
                height: 100%;
                .tab-content {
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    border: 0;
                }
                .nav-tabs {
                    display: none;
                }
                .tab-pane {
                    display: block;
                    margin-bottom: 10px;
                    label {
                        display: none;
                    }
                }
            }

            textarea {
                display: block;
                width: 100%;
                line-height: 1.428571429;
                vertical-align: middle;
                border: 2px solid #bdc3c7;
                color: #34495e;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 15px;
                padding: 8px 12px;
                outline: 0;
                height: 85px;
                resize: none;
                -webkit-appearance: none;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
                -moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
                -o-transition: border .25s linear, color .25s linear, background-color .25s linear;
                transition: border .25s linear, color .25s linear, background-color .25s linear;
                -webkit-backface-visibility: hidden;
                &:nth-of-type(2) {
                    margin-top: 4px;
                }
            }
        }
        .video-player {
            position: relative;
            top: 49px;
            width: 260px;
            height: 130px;
            overflow: hidden;
        }
        //.video-player+.item-name,
        //.fui-plus+.item-name {
        //  margin-left: 260px;
        //}

        &.empty {
            border: 1px dashed @inverse;
            background: transparent;
        }
        .delete {
            position: absolute;
            z-index: 10;
            top: -9px;
            right: -8px;
            color: @wet-asphalt;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
}

//ATTACHMENTS
@attachment-item-height: 67px;

ul.attachments {
    width: 100%;
    padding-left: 0;
    margin-top: @default_element_margin;

    li {
        height: @attachment-item-height;
        border: 1px solid rgba(255,255,255,0.2);
        display: block;
        position: relative;
        padding: @default_element_margin/2;
        transition: @default_transition_time;
        margin-bottom: @default_element_margin;

        .tabbable {
            width: 100%;
            height: 100%;
            .tab-content {
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                border: 0;
            }
            .nav-tabs {
                display: none;
            }
            .tab-pane {
                width: ~"calc(50% - 62px)";
                display: inline-block;
                float: left;
                margin-right: 4px;
                margin-bottom: 0;
                label {
                    display: none;
                }
            }
        }

        &:hover {
            border-color: rgba(255,255,255,1);
        }

        .btn {
            margin-top: 2px;
            float: left;
            margin-left: @default_element_margin/2;
        }


        .options-container {
            position: absolute;
            top: 10px;
            right: 15px;
            min-width: 100px !important;
            display: inline-block;
            float: left;
            margin-left: @default_element_margin/2;
            .upload-container {
                position: relative;
                overflow: hidden;
                height: 44px;
                width: 44px;
                margin-left: @default_element_margin/2;
                display: inline-block;
                cursor: pointer;
                float: left;
                .btn {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    margin-left: 0;
                }
                input[type="file"] {
                    width: 100%;
                    position: absolute;
                    z-index: 9;
                    top: 0;
                    left: 0;
                    height: 44px;
                    opacity: 0;
                }
            }
        }

        .form-group {
            margin: 0;
        }

        input[type="text"] {
            width: 100%;
        }

        .delete {
            position: absolute;
            z-index: 10;
            top: -9px;
            right: -8px;
            color: @wet-asphalt;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }

    }
}
