.login-form {

    .login-field-icon {
        top: 9px;
    }
}

.login {
    background-size: 940px 778px;
    padding: 40px 0;

    margin-bottom: 0;
}

.login-form {
    &:before {
        content: none;
    }
}

.login-form .login-field:focus + .login-field-icon {
    color: @colorExtra;
}

.checkbox.checked, .radio.checked {
    color: @colorExtra;
}

.login-form .login-field:focus {
    border-color: @colorExtra;
}
