<div class="options">
    <ul class="nav">
        {% for item in knp_menu_get('menu.sub') %}
            <li {% if item.attributes.class is defined %}class="{{ item.attributes.class }}"{% endif %}>
                <a href="{{ item.uri }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
