<div class="modal" id="modalConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans %}Attention{% endtrans %}</h4>
            </div>

            <div class="modal-body">
                <p>
                    {% trans %}Do you really want to remove this element?{% endtrans %}
                </p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button class="btn btn-danger" data-action="accept">{% trans %}Remove{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>