<div class="options">
    {% trans %}Options{% endtrans %}
</div>

<div class="languages">
    {% include 'TheCodeineAdminBundle::_partials/_form/_translations.menu.html.twig' %}
</div>

<div class="controls">
    <div class="checkboxes">
        {% if form.published is defined %}
            {{ form_widget(form.published, { label: 'Published' }) }}
        {% endif %}

        {% if form.important is defined %}
            {{ form_widget(form.important, { label: 'Featured' }) }}
        {% endif %}

        {{ headerOptions|raw }}
    </div>
    <div class="button">
        {{ form_widget(form.save, { attr: { class: 'btn btn-tertiary btn-wide' }}) }}
    </div>
</div>


