<div class="admin-edit-footer">
    <a href="javascript:void(0)" class="btn btn-inverse btn-hg btn-options"><i class="fui-gear"></i></a>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
</div>