{% extends "TheCodeineAdminBundle::_layout.html.twig" %}
{% block content_title %}
    <h3>{% trans %}Edycja newsa{% endtrans %} {{ news.title }}</h3>
{% endblock content_title %}

{% block content %}
    {% include 'TheCodeineAdminBundle::_partials/_form/_main.html.twig' %}
{% endblock %}